head
  title meteor-1-test

body
  h1 Welcome to Meteor!

  +hello


template(name="hello")
  button(onclick="h.s('counter', h.g('counter') + 1) ") Click Me
  p You've pressed the button {{ g 'counter' }} times.
